<h3>Latest Article</h3>
<div>
	<p>
		<% if latest_article.nil? %>
			<%= link_to "Create a New Article", new_article_path %>			
		<% else %>
			<%= truncate(latest_article.body, length: 250, separator: ' ') %> <%= link_to "Read More", article_path(latest_article) %>
		<% end %>
	</p>

</div>